.container {
    max-width: 1790px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Montserrat';
    background: var(--bg, #0B1D26);
}